*, ::after, ::before {
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: #010101;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
.navbar{
    background-color: #010101;
    height: 100px;
}

nav{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
    font-size: larger; 
    margin: auto;
}
ul, li{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: reverse;
    margin-left: 100px;
}
a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-content: center;
    color: #ffffff;
    padding-top: 20px;
}

.navbar ul, li, a:hover{
    color: #00d1b2;
    transition: 0.5s;
}

.logo h2{
    display: flex;
    margin-top: 34px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    color: #ffffff;
}

.button{
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    border: none;
}

.button.is-link {
    background-color: #56555A;
    border-color: transparent;
    text-align: center;
    margin-left: 30px;
    margin-right: 20px;
    padding: 15px;   
    color: #fff;
}

.button.is-link:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
    color: #0a0a0a;
}

.main-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 50px 50px 50px;
    padding: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    margin: 50px;
    position: relative;
}

.column {
    display: inline-block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}
.is-half img{
    height: 600px;
    width: 600px;
    zoom: 95%;
    cursor: pointer;
    padding: 0px;
    -webkit-transition: all ease 300ms;
}

.is-half img:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.columns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.columns .mt-6, .is-half{
    display: inline-block;
    padding: 12px;
    margin: 10px;
}

.columns .btn-nav{
    padding: 0px;
}

.pt-6 h1{
    color: #ffffff;
    text-align: center;
    text-align: left;
    font-size: 40px;
    margin:0%;
}

.pt-6 span{
    color: #ffffff;
    font-weight: 800;
}

.column h2{
    color: #ffffff;
    margin-top: 0%;
    margin-bottom: 4px;
    font-weight: normal;
}

.column .m1-1{
    display: flex;
    padding: 5px 0px 0px 0px;
}

.m1-1 a{
    font-weight: 800;
    border-radius: 5px;
    display: inline;
    text-align: center;
    font-size: x-large;
}

.button.for-github{
    background-color: #3E56C4;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
}

.button.for-resume{
    background-color: #00d1b2;
    padding: 10px;
    border-radius: 5px;
    margin: 0px;
    text-align: center;
}

.button.for-github:hover{
    font-weight: 800;
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
    color: #ffffff;
}

.button.for-resume:hover{
    font-weight: 800;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    color: #ffffff
}


/* 3rd Section */
.informational{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #010101;
    color: #ffffff;
    padding: 165px 0px 165px 0px;
}

.informational h1{
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
}

.informational h2{
    text-align: left;
    font-weight: normal;
}

.title-underline {
    border-bottom: 10px solid #00d1b2;
    border-radius: 5px;
}

.center-text{
    text-align: center;
    font-weight: normal;
}

/* 4th Section */

.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #56555A;
    color: #ffffff;
}

.skills.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.skills h1{
    margin: 0px 0px 5px 0px;
    font-size: 60px;
    text-align: start;
}

.skills-underline{
    border-bottom: 10px solid #010101;
    border-radius: 5px;
}

.column.mx-1{
    padding: 0px;
    margin: 0px 70px 0px 70px;
    border-right: 10px;
    text-align: start;
}

.mx-1 h2{
    font-weight: normal;
}

.column.mx-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    align-content: center;
    border-left: 10px;
    padding-top: 20px;
    padding: 20px;
}

.container.columns{
    display: flex;
}

.column.mx-2{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.is-96x96{
    padding-left: 0px;
    zoom: 95%;
    cursor: pointer;
    -webkit-transition: all ease 300ms;
}

.is-96x96:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}
/* Form */
.section.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 1;
}
.x-1{
    margin: 0px 800px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: start;
}

.x-2{
    width: 900px;
}

.title-4{
    font-size: 20px;
    font-weight: bold;
}

.contact-underline{
    border-bottom: 10px solid #00d1b2;
    border-radius: 5px;}

.columns{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: left;
}

.button.fullwidth-outlined{
    font-family: Montserrat, sans-serif; 
    font-size:16px; 
    line-height:24px; 
    font-weight: 500; 
    height: 50px; 
    width:200px; 
    border-radius:5px; 
    border: none;
    outline: 0;
    box-shadow: none;
    background-color: #56555A;
    color: #ffffff;
}

.button.fullwidth-outlined:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
    color: #0a0a0a;
}

.y-2{
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
    margin: 5px;
}
/* Charmaine ang */
.has-grey-text-light{
    color: #b5b5b5;
}

.columns.y-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
}

.input-primary, .textarea-primary{
    border-color: #00d1b2;
    max-width: 100%;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}

.form {
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
